body {
    margin: 0;
    padding: 10px;
    display: flex;
    background-color: rgb(255, 251, 0);
    font-size: 30px;
    justify-content: space-around;
    align-items: center;
    text-align: center;
}

.border1{
    padding: 15px;
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    border-radius: 15px;
    margin-top: 20px;
}

.border2{
    margin-top: 20px;
    padding: 15px;
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    border-radius: 15px;
}

.btn{
    margin-top: 20px;
    align-items: center;
    background-color: rgb(255, 0, 0);
    color: rgb(255, 255, 255);
    padding: 15px;
    border-radius: 15px;
}

.btn:hover{
    background-color: rgb(255, 0, 0);
    color: rgb(255, 251, 0);
    transition: all 0.5s ease 0s;
    cursor: pointer;
}

.box{
    display: grid;
    margin: 10px;
}
